*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.debug{
}
.debug .border{
    border:2px dashed black;
}
/* general */
header{
    background-color: #FF6900;
    color: white;
}
.flex{
    display: flex;
}
.container{
	max-width:900px;
	margin:0px auto;
}
.logo{
    max-width: 100px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 12px;
}
img{
    display: block;
}
.card{
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.flex-img{
    height: 100px
}
/* utils */
.bold{
    font-weight: bold;
}